﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Esto NO es un template MVC de ASP.NET</h1>
    <p class="lead">En serio chicos, estuve muchas horas desarrollando esta pagina web DESDE CERO.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Kaizen Softworks</h2>
        <p>
            Bienvenidos a Kaizen! Nos encanta recibirlos y generar la posibilidad de este intercambio.
        </p>
        <p><img class="img-responsive" src="http://www.cuti.org.uy/data/f/c/socios/860/360x220/kaizen-softworks.jpg" /></p>
    </div>
    <div class="col-md-3">
        <h2>Selenium</h2>
        <p>Selenium sera nuestro framework open source del dia de hoy para construir test automatizados orientados a paginas web.</p>
		<p><img class="img-responsive" src="https://2.bp.blogspot.com/-idwhrEvGRcM/WAhO0w9TwnI/AAAAAAAAAGU/xThZWzPBrfIiz_RbcIk4CTwrpZiVJayFgCLcB/s320/Selenium.jpg" /></p>
    </div>
	<div class="col-md-3">
		<h2>.NET Framrwork</h2>
		<p>Nuestro querido .NET Framework siempre presente haciendo posible desarrollar software de calidad desde el comienzo hasta el mantenimiento de nuestros proyectos.</p>
		<p><img class="img-responsive" src="https://www.howtogeek.com/wp-content/uploads/2016/05/net_top.png" /></p>
	</div>
	<div class="col-md-3">
		<h2>NUnit</h2>
		<p>Sin adentrar mucho, NUnit es nuestro framework de testing base que nos permitira crear nuestras pruebas automatizadas tratandolas como pruebas unitarias.</p>
		<p><img class="img-responsive" src="http://kosmiktechnologies.com/wp-content/uploads/2017/10/Selenium-Test-using-NUnit-Framework.png" /></p>
	</div>
</div>